.unf0 {
	BORDER-BOTTOM: #b9b9b9 1px solid; 
        BORDER-RIGHT-STYLE: none; 
        WIDTH: 90%; 
        BORDER-TOP-STYLE: none; 
        BORDER-LEFT-STYLE: none
}
.unf1 {
	BORDER-BOTTOM: #b9b9b9 1px solid; 
        BORDER-RIGHT-STYLE: none; 
        WIDTH: 70%; 
        BORDER-TOP-STYLE: none; 
        BORDER-LEFT-STYLE: none
}
.unf2 {
        WIDTH: 30%; 
}
.width150{
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px #9DC3DA solid;
	width:150px;
}
.width180{
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px #9DC3DA solid;
	width:180px;
}
.width100{
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px #9DC3DA solid;
	width:100px;
}
.width70{
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px #9DC3DA solid;
	width:70px;
}
.width50{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px #9DC3DA solid;
    width:50px;
}
.width30{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px #9DC3DA solid;
    width:30px;
}
.thstyle{
	border-right:1px #9DC3DA solid;
	border-left:1px #9DC3DA solid;
	border-top:1px #9DC3DA solid;	
	font-weight:normal;
	text-align:center;
}

