body{
    padding:0 0 0 0; margin:0 0 0 0;
	SCROLLBAR-FACE-COLOR: #58A9DB;
	SCROLLBAR-HIGHLIGHT-COLOR: #e4eaf1;
	SCROLLBAR-SHADOW-COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #cccccc;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #AFCFE3;
	SCROLLBAR-DARKSHADOW-COLOR: #cccccc;
}
a, a:visited, a:hover {
	color:#666; text-decoration:none;
}

a:hover {
	text-decoration: underline;
}
img{
	border:none;
}



/*.changed {
	background-color: #ee0;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
}*/

table {
	border: 0px solid #666;
	margin: 0px 0 0px 0;
}
th, td {
        font: normal;
	text-align: left;
	border-left:	10;
	border-right:	10;
	/*
	padding: 2px 4px 2px 4px;
	vertical-align: top;*/
}

thead tr {
  background-color: #fc0;
}
th.sorted {
    background-color: orange;
}
th a, th a:visited {
  color: black;
}
th a:hover {
  text-decoration: underline;
  color: black;
}
th.sorted a, th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}
th.sortable a {
	background-image: url(../img/arrow_off.png);
}
th.order1 a {
	background-image: url(../img/arrow_down.png);
}
th.order2 a {
	background-image: url(../img/arrow_up.png);
}
tr.odd {
  background-color: #fff
}
tr.tableRowEven, tr.even {
  background-color: #F2F9FF
}


table.risenet thead tr {
  background: url("../../commons/images/bgbutton19.gif");
  font-size: 10pt;

}
table.risenet tr.even {
  background-color: #F2F9FF;
	color: black; 
}
table.risenet {
    width:100%;
	border: 1px solid #B8DFFC;
	border-collapse: collapse;
	text-align: center;
	vertical-align:middle;
	height:30;
    font-size: 10pt;
	margin: 0px 0 0px 0;


}
table.risenet td,table.risenet th{

	border: 1px solid #B8DFFC;
	padding: 2px 4px 2px 4px;
	margin: -10px 0 10px 0;
    font-size: 10pt;

}
/*table.risenet td.riseblue {
	background-color: #fff;
	color: black;
}
*/

table.risenetnoborder {
	border: 0px dotted #B8DFFC;
	border-collapse: collapse;

}
table.risenetchild {
  width:100%;
	border: 0px solid #B8DFFC;
	border-collapse: collapse;
  font-size: 10pt;

}
tr.even td.riseblue{
	background-color: #F2F9FF;
}
table.risenetchild td,table.risenetchild th{

	border: 0px solid #B8DFFC;
	padding: 2px 4px 2px 4px;
	margin: -10px 0 10px 0;
}

.listtitle{
BORDER-LEFT: 1px solid #B8DFFC;
BORDER-RIGHT: 1px solid #B8DFFC;
BORDER-TOP: 0px solid #B8DFFC;
BORDER-BOTTOM: 0px solid #B8DFFC;
font-size: 12pt;

}

.listtitlenoborder{
	border: 0px solid #B8DFFC;
	border-collapse: collapse;
}

.listtitlechild{
BORDER-LEFT: 1px solid #B8DFFC;
BORDER-RIGHT: 1px solid #B8DFFC;
BORDER-TOP: 1px solid #B8DFFC;
BORDER-BOTTOM: 0px solid;
}

.listtitlechild1{
BORDER-LEFT: 1px solid #B8DFFC;
BORDER-RIGHT: 1px solid #B8DFFC;

}

.record{
BORDER-LEFT: 1px solid #B8DFFC;
BORDER-RIGHT: 1px solid #B8DFFC;
BORDER-TOP: 0px solid #B8DFFC;
BORDER-BOTTOM: 1px solid #B8DFFC;
font-size: 10pt;
}

.menutitle{
BORDER-LEFT: 10px solid #0198E9;
BORDER-TOP: 1px solid #B8DFFC;
BORDER-BOTTOM: 1px solid #B8DFFC;
BORDER-RIGHT: 1px solid #B8DFFC;
font-size: 10pt;

}
.receive{
BORDER-LEFT: 1px solid #B8DFFC;
BORDER-RIGHT: 1px solid #B8DFFC;
BORDER-TOP: 1px solid #B8DFFC;
BORDER-BOTTOM: 1px solid #B8DFFC;
font-size: 10pt;
}
.outborder
{
BORDER: 1px solid #21A4FF;

}
Input.delbttn {
	BACKGROUND: url("../../commons/images/bgbluebutton.gif"); 
	BORDER-BOTTOM: #0198E9 1px solid; 
	BORDER-LEFT: #0198E9 1px solid; 
	BORDER-RIGHT: #0198E9 1px solid; 
	BORDER-TOP: #0198E9 1px solid; 
	COLOR: #015595; 
	CURSOR: hand; 
	FONT-FAMILY: ו,MS SONG,SimSun,tahoma,sans-serif; 
	FONT-SIZE: 12px; 
	HEIGHT: 21px; 
	TEXT-DECORATION: none;
}
.bgvote{
  background: url("../images/bgvote.gif");
	BORDER-RIGHT: #B8DFFC 1px solid; 
	BORDER-BOTTOM: #B8DFFC 1px solid; 
	
  
}
.leftlistborder{
	BORDER-LEFT: #B8DFFC 1px solid; 
	BORDER-BOTTOM: #B8DFFC 1px solid; 
	background-color: #F2F9FF;
}
.outborder
{
BORDER: 1px solid #21A4FF;

}
.vote
{
  background-color:#F7FBFE;
	BORDER-BOTTOM: #B8DFFC 1px solid; 
	BORDER-LEFT: #B8DFFC 1px solid; 
	BORDER-TOP: #B8DFFC 1px solid; 
  font-size: 12px;
}

.bgvote{
  background: url("../images/bgvote.gif");
	BORDER-RIGHT: #B8DFFC 1px solid; 
	BORDER-BOTTOM: #B8DFFC 1px solid; 
	BORDER-TOP: #B8DFFC 1px solid; 
	  
}
.vote_bottomline1
{
  background-color: #0299EA;
  height: 12px;
}

.vote_bottomline2
{
  background-color: #0299EA;
}