body{
	background:#fff;
}
.panelHead {
	color: #008000;
	font-size: 18px;
	height: 40px;
}

.subjectContentPanelBg {
	background-color: #F5F5FE;
}

.webpart_head_td_split {
	height: 39px;
	padding: 0px;
	padding-left: 15px;
	padding-right: 10px;
	margin: 0px;
	/*background-image: url(../../images/portal/webpart_td_split.gif);
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-position: bottom;
	*/
}

.dataHeadSearchTd {
	padding-left: 10px;
	color: #919191;
	font-size: 14px;
}
.orgListColumn {
	vertical-align: top;
	width: 33%;
	padding-right: 16px;
	padding-top: 8px;
	font-size:15px;
	font-family:"微软雅黑";
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CFE8FF;
}
.topmenuword:link {

	font-size: 12pt;
	text-decoration: none;
	font-weight:bold;
	color: #FFFfff;}
.topmenuword:visited {

	font-size: 12pt;
	text-decoration: none;
	font-weight:bold;
	color: #FFFfff;}
.topmenuword:hover {

	font-size: 12pt;
	text-decoration: none;
	font-weight:bold;
	color: #FFFfff;}

a:link {
	font-family: "微软雅黑";
	text-decoration: none;
}
a:visited {
	font-family: "微软雅黑";
	text-decoration: none;
}
a:hover {
	font-family: "微软雅黑";
	text-decoration: none;
}
a:active {
	font-family: "微软雅黑";
	text-decoration: none;
}


#nav{
  width: 700px;
  text-align: center;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
#nav ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
#nav li{  
  float: left;
  }
#nav li a{
	font-family: "微软雅黑";
	font-size: 12pt;
	text-decoration: none;
	font-weight:bold;
	color: #FFFfff;	
	background: url(/images/govpublic/menubg.jpg) no-repeat 0px 0px;
	width: 100px;
	line-height: 36px;
	display: block;
}

#nav li a:hover{
	font-family: "微软雅黑";
	text-decoration: none;
	font-size: 12pt;
	font-weight:bold;
	color: #012a6d;  
	text-decoration: underline; 
	background: url(/images/govpublic/menubg.jpg) no-repeat 0px -36px;  
}

#nav li a:active{
	font-family: "微软雅黑";
	text-decoration: none;
	font-size: 12pt;
	font-weight:bold;
	color: #012a6d;  
	text-decoration: underline; 
	background: url(/images/govpublic/menubg.jpg) no-repeat 0px -36px;  
}
#nav .link{
	font-family: "微软雅黑";
	font-size: 12pt;
	text-decoration: none;
	font-weight:bold;
	color: #012a6d; 
	background: url(/hcq/images/hz/menubg1.jpg) no-repeat 0px -36px;  
}

.line{
	text-decoration: none;
	width:1px;
	height:36px;
	background-color:#cccccc;
}
.lawTitle{
 	font-family:"微软雅黑";
	font-size:22pt;
	text-align:center;
	width:100%;
	font-weight:500;
}
#line1{
	font-family:"微软雅黑";
	font-size:12pt;
	color:#b2b2b2;
	text-align:right;
	padding-right:20px;	
}
#line hr{
	height:1px;
	border:none;
	border-top:1px 
	dashed #b2b2b2;
}
#lawCont{
	font-family:"微软雅黑";
} 
.order{
	width:10px;
	height:8px;
	border:0px;
}
