/* 由 F12 开发人员工具生成。这可能不是原始源文件的准确表示形式。*/
html {
	color: rgb(34, 34, 34); -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px; padding: 0px;background:#fff;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
article {
	margin: 0px; padding: 0px;
}
aside {
	margin: 0px; padding: 0px;
}
details {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
header {
	margin: 0px; padding: 0px;
}
hgroup {
	margin: 0px; padding: 0px;
}
menu {
	margin: 0px; padding: 0px;
}
nav {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
body {
	font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial; font-size: 13px;
}
button {
	font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial; font-size: 13px;
}
input {
	font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial; font-size: 13px;
}
select {
	font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial; font-size: 13px;
}
textarea {
	font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial; font-size: 13px;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
th {
	text-align: inherit;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
a img {
	border: 0px currentColor;
}
img {
	vertical-align: middle;
}
iframe {
	display: block;
}
address {
	font-style: normal; font-weight: 500;
}
caption {
	font-style: normal; font-weight: 500;
}
cite {
	font-style: normal; font-weight: 500;
}
code {
	font-style: normal; font-weight: 500;
}
dfn {
	font-style: normal; font-weight: 500;
}
em {
	font-style: normal; font-weight: 500;
}
th {
	font-style: normal; font-weight: 500;
}
var {
	font-style: normal; font-weight: 500;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%; font-weight: 500;
}
h2 {
	font-size: 100%; font-weight: 500;
}
h3 {
	font-size: 100%; font-weight: 500;
}
h4 {
	font-size: 100%; font-weight: 500;
}
h5 {
	font-size: 100%; font-weight: 500;
}
h6 {
	font-size: 100%; font-weight: 500;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
ins {
	text-decoration: none;
}
a {
	text-decoration: none;
}
a {
	color: rgb(0, 0, 0); font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial;
}
a:hover {
	color: rgb(63, 155, 197); text-decoration: underline;
}
.width100 {
	width: 100%;
}
.qin {
	clear: both;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	-ms-zoom: 1;
}
.clear {
	clear: both;
}
.cb {
	clear: both;
}
body .none {
	display: none;
}
.fl {
	display: inline;
}
.fr {
	display: inline;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.f14 {
	font-size: 14px;
}
:focus {
	outline: 0px;
}
