/* 由 F12 开发人员工具生成。这可能不是原始源文件的准确表示形式。*/
body{
	background:#fff;
}
a:link {
	color: rgb(43, 43, 43); font-weight: normal; text-decoration: none;
}
a:visited {
	color: rgb(43, 43, 43); font-weight: normal; text-decoration: none;
}
a:hover {
	color: rgb(255, 102, 0); font-weight: normal; text-decoration: none;
}
a:active {
	color: rgb(255, 102, 0); font-weight: normal; text-decoration: none;
}
.blue {
	color: rgb(125, 204, 244);
}
a.blue:link {
	color: rgb(125, 204, 244);
}
a.blue:visited {
	color: rgb(125, 204, 244);
}
a.blue:hover {
	color: rgb(255, 102, 0);
}
a.blue:active {
	color: rgb(255, 102, 0);
}
.blue2 {
	color: rgb(52, 128, 210);
}
a.blue2:link {
	color: rgb(52, 128, 210);
}
a.blue2:visited {
	color: rgb(52, 128, 210);
}
a.blue2:hover {
	color: rgb(255, 102, 0);
}
a.blue2:active {
	color: rgb(255, 102, 0);
}
.white {
	color: rgb(255, 255, 255);
}
a.white:link {
	color: rgb(255, 255, 255);
}
a.white:visited {
	color: rgb(255, 255, 255);
}
a.white:hover {
	color: rgb(255, 102, 0);
}
a.white:active {
	color: rgb(255, 102, 0);
}
.red {
	color: rgb(255, 0, 0);
}
.px12 {
	font-size: 12px;
}
a.px12:link {
	font-size: 12px;
}
a.px12:visited {
	font-size: 12px;
}
a.px12:hover {
	font-size: 12px;
}
a.px12:active {
	font-size: 12px;
}
.noborder {
	border: currentColor;
}
.orange {
	color: rgb(247, 191, 22);
}
.blod {
	font-weight: bold;
}
.FormFont {
	font-size: 14px;
}
