input{border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;}

textarea{overflow:auto; background-attachment:   fixed;   background-repeat:   no-repeat;   border-style:   solid; border-color:   #FFFFFF}
.backButton{display:none}
img{display:none}