/* 由 F12 开发人员工具生成。这可能不是原始源文件的准确表示形式。*/
BODY {
    BACKGROUND: #cfe8ff
} .wrap {
    BACKGROUND: #fff;
    MARGIN: 0px auto;
    WIDTH: 1000px
} .content {
    MARGIN: 0px auto;
    WIDTH: 986px
} .topbar {
    HEIGHT: 35px;
    BACKGROUND: url(/images/supervise/topbar.jpg) repeat-x 0px 0px
} .tb_back {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 0px;
    WIDTH: 150px
} .tb_back_a {
    BACKGROUND: url(/images/supervise/topicon.jpg) no-repeat 0px 2px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 35px;
    DISPLAY: block;
    PADDING-RIGHT: 0px
} .tb_nav {
    OVERFLOW: hidden;
    FLOAT: left;
    MARGIN: 0px 20px;
    WIDTH: 635px
} .tb_nav_ul LI {
    HEIGHT: 35px;
    FLOAT: left;
    LINE-HEIGHT: 35px
} .tb_nav_ul LI A {
    FONT-SIZE: 16px;
    BORDER-RIGHT: #fff 2px solid;
    FONT-WEIGHT: bold;
    COLOR: #fff;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px
} .tb_nav_ul LI.hot {
    HEIGHT: 35px;
    BACKGROUND: url(/images/supervise/tophot.jpg) repeat-x 0px 0px;
    FLOAT: left;
    LINE-HEIGHT: 35px
} .tb_nav_ul LI.hot A {
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px
} .tb_nav_ul LI.last A {
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px
} .tb_login {
    FLOAT: right;
    WIDTH: 130px
} .tb_login_in {
    FLOAT: right;
    WIDTH: 165px
} .tb_login_a {
    BACKGROUND: url(/images/supervise/login.jpg) no-repeat;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 30px;
    DISPLAY: block;
    PADDING-RIGHT: 10px
} .tb_login_b {
    BACKGROUND: url(/images/supervise/login3.png) no-repeat right 15px;
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    DISPLAY: inline;
    PADDING-RIGHT: 14px;
    MARGIN-RIGHT: 10px
} .login_ok H5 {
    HEIGHT: 35px;
    BACKGROUND: url(/images/supervise/login2.jpg) no-repeat;
    FLOAT: right;
    WIDTH: 23px
} .topflash {
    HEIGHT: 113px
} .topshadow {
    HEIGHT: 23px;
    BACKGROUND: url(/images/supervise/topshadow.jpg) repeat-x 0px 0px
} .starp {
    OVERFLOW: hidden;
    HEIGHT: 26px;
    BACKGROUND: url(/images/supervise/starp.png) no-repeat;
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 7px;
    PADDING-LEFT: 0px;
    MARGIN: 0px 4px 0px 0px;
    DISPLAY: inline;
    PADDING-RIGHT: 0px;
    WIDTH: 244px
} .starp_ul {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 120px;
    PADDING-RIGHT: 0px
} .starp_ul LI {
    HEIGHT: 16px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 4px;
    WIDTH: 17px
} .bigw {
    width: 986px;
} .bigwTop {
    OVERFLOW: hidden;
    HEIGHT: 68px;
    BACKGROUND: url(/images/supervise/bigw1.jpg) no-repeat;
    LINE-HEIGHT: 68px;
    width: 986px;
} .bigwSec {
    HEIGHT: 49px;
    BACKGROUND: url(/images/supervise/bigw2.jpg) no-repeat;
    width: 986px;
} .bigwConent {
    HEIGHT: 100%;
    BACKGROUND: url(/images/supervise/bigwbg.jpg) repeat-y;
    MIN-HEIGHT: 180px;
    _height: 180px
} .bigwBottom {
    HEIGHT: 18px;
    BACKGROUND: url(/images/supervise/bigw3.jpg) repeat-y
} .bigwTop H1 {
    FONT-SIZE: 28px;
    HEIGHT: 68px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 35px;
    LINE-HEIGHT: 68px;
    PADDING-RIGHT: 0px;
    WIDTH: 200px
} .bigwType {
    FLOAT: right
} .bigwType UL LI {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 13px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 40px
} .bigwType UL LI A {
    HEIGHT: 42px;
    COLOR: #000;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 42px;
    WIDTH: 140px
} .bigwType UL LI.hot A {
    BACKGROUND: url(/images/supervise/bigwtab.png) no-repeat;
    COLOR: #fff
} .bigwSectype {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 40px;
    PADDING-RIGHT: 0px
} .bigwSectype UL LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 35px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 7px 15px 0px 0px;
    LINE-HEIGHT: 35px;
    WIDTH: 140px
} .bigwSectype UL LI.hot {
    BACKGROUND: url(/images/supervise/bigwtab2.jpg) no-repeat;
    COLOR: #00709d
} .search {
    FLOAT: right;
    MARGIN: 10px 20px 0px 0px
} .search_input {
    HEIGHT: 29px;
    BACKGROUND: url(/images/supervise/search1.jpg) no-repeat;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    WIDTH: 221px
} .search_input INPUT {
    BORDER-LEFT-WIDTH: 0px;
    FONT-SIZE: 13px;
    HEIGHT: 22px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    FONT-STYLE: italic;
    MARGIN: 3px 0px 0px;
    LINE-HEIGHT: 22px;
    BORDER-TOP-WIDTH: 0px;
    WIDTH: 220px
} .search_btn {
    FLOAT: left
} .search_btn INPUT {
    BORDER-LEFT-WIDTH: 0px;
    HEIGHT: 29px;
    BORDER-RIGHT-WIDTH: 0px;
    BACKGROUND: url(/images/supervise/search2.jpg) no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    WIDTH: 79px
} .bigwConent {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px
	width:900px;
	text-align:center;
} .bigwConent UL LI {
    HEIGHT: 84px;
    FLOAT: left;
    MARGIN: 0px 8px 0px 0px;
    WIDTH: 174px
} .bigwConent UL LI.hot {
    BACKGROUND: url(/images/supervise/typehot.png) no-repeat
} .bigwConent UL LI:hover {
    BACKGROUND: url(/images/supervise/typehot.png) no-repeat
} .bigwConent UL LI.hot A {
    COLOR: #007ab2
} .bigwConent UL LI {
    HEIGHT: 106px;
    FLOAT: left;
    MARGIN: 0px 12px 0px 0px;
    WIDTH: 105px
} .bigwConent UL LI.hot {
    BACKGROUND: url(/images/supervise/typehot.png) no-repeat
} .bigwConent UL LI:hover {
    BACKGROUND: url(/images/supervise/typehot.png) no-repeat
} .bigwConent UL LI SPAN {
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 20px
} .bigwConent UL LI A {
    FONT-SIZE: 13px;
    HEIGHT: 28px;
    BACKGROUND: url(/images/supervise/type1/icon11.png) no-repeat 50% 15px;
    COLOR: #707070;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 78px;
    PADDING-LEFT: 0px;
    MARGIN: 0px auto;
    DISPLAY: block;
    PADDING-RIGHT: 0px;
    WIDTH: 105px
} .bigwConent UL LI A:hover {
    COLOR: #f00;
    TEXT-DECORATION: none
} .type1 LI A.icon12 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon12.png)
} .type1 LI A.icon13 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon13.png)
} .type1 LI A.icon14 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon14.png)
} .type1 LI A.icon15 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon15.png)
} .type1 LI A.icon16 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon16.png)
} .type1 LI A.icon17 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon17.png)
} .type1 LI A.icon18 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon18.png)
} .type1 LI A.icon19 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon19.png)
} .type1 LI A.icon110 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon110.png)
} .type1 LI A.icon111 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon111.png)
} .type1 LI A.icon112 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon112.png)
} .type1 LI A.icon113 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon113.png)
} .type1 LI A.icon114 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon114.png)
} .type1 LI A.icon115 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon115.png)
} .type1 LI A.icon116 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon116.png)
} .type1 LI A.icon117 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon117.png)
} .type1 A.icon118 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon118.png)
} .type1 A.icon119 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon119.png)
} .type1 A.icon120 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon120.png)
} .type1 A.icon121 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon121.png)
} .type1 A.icon122 {
    BACKGROUND-IMAGE: url(/images/supervise/type1/icon122.png)
} .type2 LI A.icon21 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon21.png)
} .type2 LI A.icon22 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon22.png)
} .type2 LI A.icon23 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon23.png)
} .type2 LI A.icon24 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon24.png)
} .type2 LI A.icon25 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon25.png)
} .type2 LI A.icon26 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon26.png)
} .type2 LI A.icon27 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon27.png)
} .type2 LI A.icon28 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon28.png)
} .type2 LI A.icon29 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon29.png)
} .type2 LI A.icon210 {
    BACKGROUND-IMAGE: url(/images/supervise/type2/icon210.png)
} .type3 LI A.icon31 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon31.png)
} .type3 LI A.icon32 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon32.png)
} .type3 LI A.icon33 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon33.png)
} .type3 LI A.icon34 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon34.png)
} .type3 LI A.icon35 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon35.png)
} .type3 LI A.icon36 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon36.png)
} .type3 LI A.icon37 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon37.png)
} .type3 LI A.icon38 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon38.png)
} .type3 LI A.icon39 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon39.png)
} .type3 LI A.icon310 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon310.png)
} .type3 LI A.icon311 {
    BACKGROUND-IMAGE: url(/images/supervise/type3/icon311.png)
} .olsevice {
    FLOAT: left;
    MARGIN: 0px 0px 10px;
    WIDTH: 638px
} .olsevice_top {
    HEIGHT: 64px;
    BACKGROUND: url(/images/supervise/smallw1.jpg) no-repeat
} .olsevice_bottom {
    HEIGHT: 18px;
    BACKGROUND: url(/images/supervise/smallw2.jpg) no-repeat
} .olsevice_content {
    OVERFLOW: hidden;
    HEIGHT: 141px;
    BACKGROUND: url(/images/supervise/smallwbg.jpg) repeat-y;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 5px;
    PADDING-LEFT: 25px;
    PADDING-RIGHT: 25px
} .olsevice_top A {
    FONT-SIZE: 12px;
    HEIGHT: 64px;
    FONT-FAMILY: 宋体;
    FLOAT: right;
    COLOR: #3f9bc5;
    DISPLAY: block;
    LINE-HEIGHT: 64px;
    WIDTH: 60px
} .olsevice_content_ul LI {
    HEIGHT: 37px;
    BACKGROUND: url(/images/supervise/dot1.gif) no-repeat 0px 15px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 24px;
    LINE-HEIGHT: 37px;
    PADDING-RIGHT: 0px;
    WIDTH: 270px
} .olsevice_content_ul LI A {
    FONT-SIZE: 14px
} .ican {
    HEIGHT: 226px;
    BACKGROUND: url(/images/supervise/ican.jpg) no-repeat;
    FLOAT: right;
    WIDTH: 343px
} .ican_ul {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 12px;
    PADDING-RIGHT: 12px
} .ican_ul LI {
    OVERFLOW: hidden;
    FONT-SIZE: 12px;
    HEIGHT: 55px;
    VERTICAL-ALIGN: middle;
    LINE-HEIGHT: 20px;
    WIDTH: 320px
} .ican_do {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 9px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 0px;
    WIDTH: 90px
} .ican_do A {
    FONT-SIZE: 15px;
    COLOR: #3f84c2
} .ican_explain {
    FLOAT: left;
    WIDTH: 200px
} .process {
    OVERFLOW: hidden;
    FLOAT: left;
    MARGIN: 0px 0px 10px;
    WIDTH: 638px
} .process_top {
    HEIGHT: 64px;
    BACKGROUND: url(/images/supervise/smallw3.jpg) no-repeat
} .process_bottom {
    HEIGHT: 18px;
    BACKGROUND: url(/images/supervise/smallw2.jpg) no-repeat
} .process_content {
    OVERFLOW: hidden;
    HEIGHT: 208px;
    BACKGROUND: url(/images/supervise/smallwbg.jpg) repeat-y;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px
} .process_tr:hover {
    BACKGROUND: #fffbbd
} .td0 {
    WIDTH: 120px
} .td1 {
    WIDTH: 170px
} .td2 {
    WIDTH: 150px
} .td3 {
    WIDTH: 100px
} .td4 {
    WIDTH: 80px
} .process_top A {
    FONT-SIZE: 12px;
    HEIGHT: 64px;
    FONT-FAMILY: 宋体;
    FLOAT: right;
    COLOR: #ed5400;
    DISPLAY: block;
    LINE-HEIGHT: 64px;
    WIDTH: 60px
} .process_tb {
    FONT-SIZE: 14px
}

UNKNOWN {
    BACKGROUND: #f1f6fe
} .process_tb TH {
    HEIGHT: 33px;
    BACKGROUND: url(/images/supervise/tab_bg.jpg) repeat-x;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 33px
} .process_tb TD {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 33px
} .count {
    OVERFLOW: hidden;
    FLOAT: right;
    MARGIN: 0px 0px 10px;
    WIDTH: 343px
} .count_top {
    FONT-SIZE: 16px;
    HEIGHT: 64px;
    BACKGROUND: url(/images/supervise/smallw4.jpg) no-repeat;
    LINE-HEIGHT: 64px
} .count_bottom {
    HEIGHT: 18px;
    BACKGROUND: url(/images/supervise/smallw5.jpg) no-repeat
} .count_content {
    HEIGHT: 213px;
    BACKGROUND: url(/images/supervise/smallwbg2.jpg) repeat-y;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    _overflow: hidden
} .count_top H2 {
    FLOAT: left;
    COLOR: #4b8b00;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 0px
} .count_top .filter {
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 20px
} .count_top .filter A {
    FONT-SIZE: 14px;
    COLOR: #4b8b00;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 5px
} .count_top .filter A:hover {
    FONT-WEIGHT: bold
} .count_top .filter A.hot {
    FONT-WEIGHT: bold
} .count_content UL {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px
} .count_content LI {
    VERTICAL-ALIGN: middle;
    BORDER-BOTTOM: #999 1px dotted;
    FLOAT: left;
    WIDTH: 300px
} .count_content LI .name {
    HEIGHT: 34px;
    FLOAT: left;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 28px;
    WIDTH: 90px
} .count_content LI .num {
    HEIGHT: 34px;
    FLOAT: right;
    COLOR: #4b8b00;
    TEXT-ALIGN: right;
    LINE-HEIGHT: 28px;
    WIDTH: 100px
} .count_sum {
    HEIGHT: 100px
} .xzxk {
    TEXT-ALIGN: center;
    MARGIN: 12px 0px 0px
} .footer {
    HEIGHT: 63px;
    BACKGROUND: url(/images/supervise/footer.jpg) no-repeat
} .footer_l {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 0px
} .footer_r {
    FLOAT: right;
    PADDING-RIGHT: 20px
} .footer_l IMG {
    FLOAT: left
} .footer_l .copyright {
    HEIGHT: 33px;
    MIN-WIDTH: 200px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 5px;
    LINE-HEIGHT: 33px;
    PADDING-RIGHT: 0px
} .footer_r_ul {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px
} .footer_r_ul LI {
    HEIGHT: 19px;
    BORDER-RIGHT: #fff 1px solid;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    LINE-HEIGHT: 19px;
    PADDING-RIGHT: 10px
} .footer_r_ul LI.noborder {
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px
} .footer_r_ul LI A {
    COLOR: #fff
} .bigwSec .city {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 40px;
    PADDING-RIGHT: 0px
} .divisionSelector {
    CURSOR: pointer;
    HEIGHT: 29px;
    BACKGROUND: url(/images/supervise/select_bg.png) no-repeat;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    MARGIN: 10px 0px 0px;
    LINE-HEIGHT: 29px;
    PADDING-RIGHT: 0px;
    WIDTH: 227px
} .divisionSelector2 {
    CURSOR: pointer;
    HEIGHT: 29px;
    BACKGROUND: url(/images/supervise/select_bg.png) no-repeat;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    MARGIN: 10px 0px 0px;
    LINE-HEIGHT: 29px;
    PADDING-RIGHT: 0px;
    WIDTH: 227px
} .city_total {
    FLOAT: left;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 20px;
    LINE-HEIGHT: 29px;
    PADDING-RIGHT: 20px
} .department {
    HEIGHT: 100%;
    BACKGROUND: url(/images/supervise/bigwbg.jpg) repeat-y;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 20px;
    MIN-HEIGHT: 300px;
    PADDING-RIGHT: 20px;
    _height: 180px
} .department_list LI {
    OVERFLOW: hidden;
    HEIGHT: 30px;
    FLOAT: left;
    MARGIN: 0px 10px 0px 0px;
    LINE-HEIGHT: 30px;
    WIDTH: 175px
} .city_list {
    BORDER-TOP: #ccc 1px solid;
    BORDER-RIGHT: #ccc 1px solid;
    BORDER-BOTTOM: #ccc 1px solid;
    POSITION: absolute;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    PADDING-LEFT: 10px;
    LEFT: 40px;
    BORDER-LEFT: #ccc 1px solid;
    Z-INDEX: 1001;
    DISPLAY: none;
    TOP: 40px;
    PADDING-RIGHT: 10px;
    WIDTH: 450px;
    BACKGROUND-COLOR: #ffffef
} .city_list A {
    FONT-SIZE: 14px;
    COLOR: #14759a
} .city_name {
    HEIGHT: 30px;
    BORDER-BOTTOM: #d3d3d3 1px dotted;
    LINE-HEIGHT: 30px
} .city_name .name {
    FLOAT: left
} .city_name .close {
    FLOAT: right
} .district_ul {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px
} .district_ul LI {
    HEIGHT: 24px;
    FLOAT: left;
    LINE-HEIGHT: 24px;
    WIDTH: 90px
} .type4 LI A.icon41 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon41.png)
} .type4 LI A.icon42 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon42.png)
} .type4 LI A.icon43 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon43.png)
} .type4 LI A.icon44 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon44.png)
} .type4 LI A.icon45 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon45.png)
} .type4 LI A.icon46 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon46.png)
} .type4 LI A.icon47 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon47.png)
} .type4 LI A.icon48 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon48.png)
} .type4 LI A.icon49 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon49.png)
} .type4 LI A.icon410 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon410.png)
} .type4 LI A.icon411 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon411.png)
} .type4 LI A.icon412 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon412.png)
} .type4 LI A.icon413 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon413.png)
} .type4 LI A.icon414 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon414.png)
} .type4 LI A.icon415 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon415.png)
} .type4 LI A.icon416 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon416.png)
} .type4 LI A.icon417 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon417.png)
} .type4 LI A.icon418 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon418.png)
} .type4 LI A.icon419 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon419.png)
} .type4 LI A.icon420 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon420.png)
} .type4 LI A.icon421 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon421.png)
} .type4 LI A.icon422 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon422.png)
} .type4 LI A.icon423 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon423.png)
} .type4 LI A.icon424 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon424.png)
} .type4 LI A.icon425 {
    BACKGROUND-IMAGE: url(/images/supervise/type4/icon425.png)
} .type5 LI A.icon51 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon51.png)
} .type5 LI A.icon52 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon52.png)
} .type5 LI A.icon53 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon53.png)
} .type5 LI A.icon54 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon54.png)
} .type5 LI A.icon55 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon55.png)
} .type5 LI A.icon56 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon56.png)
} .type5 LI A.icon57 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon57.png)
} .type5 LI A.icon58 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon58.png)
} .type5 LI A.icon59 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon59.png)
} .type5 LI A.icon510 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon510.png)
} .type5 LI A.icon511 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon511.png)
} .type5 LI A.icon512 {
    BACKGROUND-IMAGE: url(/images/supervise/type5/icon512.png)
} .type6 LI A.icon61 {
    BACKGROUND-IMAGE: url(/images/supervise/type6/icon61.png)
} .type6 LI A.icon62 {
    BACKGROUND-IMAGE: url(/images/supervise/type6/icon62.png)
} .type6 LI A.icon63 {
    BACKGROUND-IMAGE: url(/images/supervise/type6/icon63.png)
} .type6 LI A.icon64 {
    BACKGROUND-IMAGE: url(/images/supervise/type6/icon64.png)
} .type6 LI A.icon65 {
    BACKGROUND-IMAGE: url(/images/supervise/type6/icon65.png)
} .type6 LI A.icon66 {
    BACKGROUND-IMAGE: url(/images/supervise/type6/icon66.png)
} .type6 LI A.icon67 {
    BACKGROUND-IMAGE: url(/images/supervise/type6/icon67.png)
} .type6 LI A.icon68 {
    BACKGROUND-IMAGE: url(/images/supervise/type6/icon68.png)
} .t10 LI {
    HEIGHT: 29px;
    BACKGROUND: url(/images/supervise/dot1.gif) no-repeat 0px 11px;
    LINE-HEIGHT: 29px
} .event {
    HEIGHT: 100%;
    BACKGROUND: url(/images/supervise/bigwbg.jpg) repeat-y;
    MIN-HEIGHT: 80px;
    _height: 80px
} .event_info {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 30px;
    PADDING-RIGHT: 30px
} .event_logo {
    FONT-SIZE: 18px;
    FLOAT: left;
    COLOR: #007ab2
} .event_logo IMG {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 5px
} .event_point {
    CURSOR: pointer;
    BACKGROUND: url(/images/supervise/event_point.jpg) no-repeat;
    MARGIN: 0px 10px 0px 0px;
    DISPLAY: inline;
    WIDTH: 123px;
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    -moz-user-select: none
} .event_all {
    CURSOR: pointer;
    BACKGROUND: url(/images/supervise/event_all_down.jpg) no-repeat;
    WIDTH: 161px;
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    -moz-user-select: none
} .event_all_up {
    BACKGROUND: url(/images/supervise/event_all_up.jpg) no-repeat
} .event_all {
    HEIGHT: 39px;
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    LINE-HEIGHT: 39px;
    PADDING-RIGHT: 0px
} .event_point {
    HEIGHT: 39px;
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    LINE-HEIGHT: 39px;
    PADDING-RIGHT: 0px
} .event_filter {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 30px;
    Z-INDEX: 990;
    PADDING-RIGHT: 30px
} .divisionSelector2 {
    FLOAT: right;
    MARGIN: 0px
} .event_filter .city_total {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 20px
} .event_filter .search {
    MARGIN: 0px
} .event_all_hidden {
    BORDER-TOP: #c2c2c2 1px solid;
    BACKGROUND: url(/images/supervise/imgBtnDiv_bg.gif) repeat-x center bottom;
    BORDER-BOTTOM: #c2c2c2 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 20px;
    MARGIN: 0px 5px 10px;
    PADDING-RIGHT: 20px
} .event_point_hidden {
    BACKGROUND: #f3f5fe;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 20px;
    MARGIN: 0px 5px 10px;
    PADDING-RIGHT: 20px
} .event_point_hidden P {
    FONT-SIZE: 14px;
    MARGIN: 5px 0px;
    LINE-HEIGHT: 26px
} .filter_online {
    FLOAT: right;
    MARGIN: 14px 20px 10px 0px
} .filter_online INPUT {
    VERTICAL-ALIGN: middle;
    MARGIN: 0px 5px 0px 0px
} .event_type {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 40px;
    PADDING-RIGHT: 0px
} .event_type UL LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 35px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 7px 15px 0px 0px;
    LINE-HEIGHT: 35px;
    WIDTH: 140px
} .event_type UL LI.hot {
    BACKGROUND: url(/images/supervise/bigwtab2.jpg) no-repeat;
    COLOR: #00709d
} .event_table {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px
} .event_table TABLE {
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 100%
} .event_table TR TH {
    HEIGHT: 34px;
    BORDER-RIGHT: #c0c0c0 1px solid;
    BACKGROUND: url(/images/supervise/th1.jpg) repeat-x;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    LINE-HEIGHT: 34px;
    PADDING-RIGHT: 10px
} .event_table TR TD {
    HEIGHT: 34px;
    BORDER-RIGHT: #c0c0c0 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    LINE-HEIGHT: 34px;
    PADDING-RIGHT: 10px
}

UNKNOWN {
    BACKGROUND: #eef9ff
} .event_table .olhandle {
    FONT-SIZE: 12px;
    HEIGHT: 22px;
    BACKGROUND: url(/images/supervise/bid.png) no-repeat;
    COLOR: #fff;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 22px;
    WIDTH: 73px
} .event_table .olhandle:hover {
    COLOR: #16d3e9;
    TEXT-DECORATION: none
} .event_table TR:hover {
    BACKGROUND: #fffbbd
} .pages {
    TEXT-ALIGN: center;
    MARGIN: 20px 0px 10px
} .pages .page {
    BORDER-LEFT-WIDTH: 0px;
    CURSOR: pointer;
    HEIGHT: 31px;
    BORDER-RIGHT-WIDTH: 0px;
    BACKGROUND: url(/images/supervise/page.jpg) no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    WIDTH: 80px
} .pages .hot {
    BACKGROUND: url(/images/supervise/page_hot.jpg) no-repeat;
    COLOR: #fff
} .pages .no {
    COLOR: #a5a5a5
} .event_title {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 40px;
    LINE-HEIGHT: 25px;
    PADDING-RIGHT: 30px
} .event_title H2 {
    FONT-SIZE: 20px;
    FLOAT: left;
    FONT-WEIGHT: bold
} .event_link {
    FLOAT: right
} .event_link SPAN {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 5px;
    DISPLAY: block;
    PADDING-RIGHT: 5px
} .event_link_ul {
    FLOAT: right
} .event_link_ul LI {
    BORDER-TOP: #ccc 1px solid;
    BORDER-RIGHT: #ccc 1px solid;
    BORDER-BOTTOM: #ccc 1px solid;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 5px;
    MARGIN: 0px 5px;
    BORDER-LEFT: #00b0f0 3px solid;
    PADDING-RIGHT: 5px
} .event_discuss A {
    COLOR: #0a78a6;
    TEXT-DECORATION: underline
} .event_tools P A {
    COLOR: #0a78a6;
    TEXT-DECORATION: underline
} .event_tools {
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    WIDTH: 200px
} .event_process {
    BORDER-TOP: #63c0d7 1px solid;
    BORDER-RIGHT: #63c0d7 1px solid;
    BACKGROUND: #f2fbfe;
    BORDER-BOTTOM: #63c0d7 1px solid;
    FLOAT: right;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 10px;
    BORDER-LEFT: #63c0d7 1px solid;
    LINE-HEIGHT: 24px;
    PADDING-RIGHT: 10px;
    WIDTH: 680px
} .event_tools P {
    FONT-SIZE: 14px;
    LINE-HEIGHT: 22px
} .event_tools_ul {
    MARGIN: 10px 0px
} .event_tools_ul LI {
    MARGIN: 0px 0px 10px
} .event_tools_ul .event_tools_btn {
    HEIGHT: 39px;
    BACKGROUND: url(/images/supervise/tools.jpg) no-repeat;
    COLOR: #fff;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 39px;
    WIDTH: 190px
} .event_tools_ul .event_distools_btn {
    HEIGHT: 39px;
    BACKGROUND: url(/images/supervise/onlinedis.png) no-repeat;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 39px;
    WIDTH: 190px
} .event_process .title {
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    COLOR: #00709d;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px
} .department_select {
    FLOAT: right
} .depart_fix {
    RIGHT: -5px;
    TOP: 49px
} .invest_logo {
    FONT-SIZE: 21px;
    FLOAT: left;
    MARGIN: 7px 0px 0px 40px;
    DISPLAY: inline;
    LINE-HEIGHT: 35px
} .invest_logo SPAN {
    COLOR: #ff8000
} .invest_type {
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 40px
} .invest_type_ul LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 35px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 7px 15px 0px 0px;
    LINE-HEIGHT: 35px;
    WIDTH: 140px
} .invest_type_ul LI.hot {
    BACKGROUND: url(/images/supervise/bigwtab2.jpg) no-repeat;
    COLOR: #00709d
} .invest_conent {
    HEIGHT: 100%;
    BACKGROUND: url(/images/supervise/bigwbg.jpg) repeat-y;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 5px;
    MIN-HEIGHT: 180px;
    PADDING-RIGHT: 5px;
    _height: 180px
} .invest_triggle {
    HEIGHT: 100px;
    BACKGROUND: url(/images/supervise/line_invest_split.jpg) no-repeat center bottom;
    POSITION: relative;
    ZOOM: 1
} .invest_triggle_ul LI {
    CURSOR: pointer;
    HEIGHT: 57px;
    BACKGROUND: url(/images/supervise/btn_invest_disabled.gif) no-repeat;
    POSITION: absolute;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 57px;
    WIDTH: 180px
} .invest_triggle_ul LI.hot {
    BACKGROUND: url(/images/supervise/btn_invest_enabled.gif) no-repeat;
    COLOR: #fff
} .invest_tg_process1 {
    TEXT-ALIGN: center;
    LEFT: 55px
} .invest_tg_process2 {
    TEXT-ALIGN: center;
    LEFT: 285px
} .invest_tg_process3 {
    TEXT-ALIGN: center;
    LEFT: 515px
} .invest_tg_process4 {
    TEXT-ALIGN: center;
    LEFT: 745px
} .invest_triggle_arrow {
    HEIGHT: 10px;
    BACKGROUND: url(/images/supervise/tab_invest_arrow.png) no-repeat;
    POSITION: absolute;
    LEFT: 133px;
    TOP: 67px;
    WIDTH: 23px
} .invest_tg_process5 {
    TEXT-ALIGN: center;
    LEFT: 20px
} .invest_tg_process6 {
    TEXT-ALIGN: center;
    LEFT: 210px
} .invest_tg_process7 {
    TEXT-ALIGN: center;
    LEFT: 400px
} .invest_tg_process8 {
    TEXT-ALIGN: center;
    LEFT: 590px
} .invest_tg_process9 {
    TEXT-ALIGN: center;
    LEFT: 780px
} .monitor_logo {
    FONT-SIZE: 21px;
    FLOAT: left;
    COLOR: #a4a4a4;
    MARGIN: 7px 0px 0px 40px;
    DISPLAY: inline;
    LINE-HEIGHT: 35px
} .monitor_logo SPAN {
    FONT-SIZE: 15px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 0px
} .monitor_type {
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 40px
} .monitor_type_ul LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 35px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 7px 15px 0px 0px;
    LINE-HEIGHT: 35px;
    WIDTH: 100px
} .monitor_type_ul LI.hot {
    BORDER-TOP: #698fb6 2px solid;
    BORDER-RIGHT: #cdcdcd 1px solid;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #cdcdcd 1px solid;
    COLOR: #00709d;
    BORDER-LEFT: #cdcdcd 1px solid
} .monitor_table {
    WIDTH: 98%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.monitorTb{
	text-align:center;
	width:980px;
}
UNKNOWN {
    BACKGROUND: #f2f2f2
} .monitor_table TD {
    BORDER-TOP: #d1d1d1 1px solid;
    BORDER-RIGHT: #d1d1d1 1px solid;
    BORDER-BOTTOM: #d1d1d1 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #d1d1d1 1px solid;
    LINE-HEIGHT: 36px
} .monitor_table TH {
    BORDER-TOP: #d1d1d1 1px solid;
    BORDER-RIGHT: #d1d1d1 1px solid;
    BORDER-BOTTOM: #d1d1d1 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #d1d1d1 1px solid;
    LINE-HEIGHT: 55px
} .thead {
    FONT-SIZE: 28px;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 50px
} .tintro {
    FONT-SIZE: 14px;
    COLOR: #777;
    PADDING-BOTTOM: 20px;
    TEXT-ALIGN: center;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    LINE-HEIGHT: 30px;
    PADDING-RIGHT: 0px
} .monitor_table2 {
    WIDTH: 100%
} .monitor_table2 TD {
    BORDER-TOP: #c0c0c0 1px solid;
    HEIGHT: 35px;
    BORDER-RIGHT: #c0c0c0 1px solid;
    BORDER-BOTTOM: #c0c0c0 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #c0c0c0 1px solid
} .monitor_table2 THEAD {
    BACKGROUND: #f1f6fe
} .monitor_table2 THEAD TD {
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 30px
} .monitor_table2 THEAD .filter TD {
    FONT-WEIGHT: normal
} .pubtype {
    FLOAT: right;
    MARGIN: 7px 0px 0px
} .pubConent {
    HEIGHT: 100%;
    BACKGROUND: url(/images/supervise/bigwbg.jpg) repeat-y;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 20px;
    MIN-HEIGHT: 180px;
    PADDING-RIGHT: 20px;
    _height: 180px
} .pubBg {
    WIDTH: 100%
} .pubtools {
    FLOAT: left;
    WIDTH: 260px
} .pubtools_top {
    FONT-SIZE: 16px;
    HEIGHT: 44px;
    BACKGROUND: url(/images/supervise/bar_top.jpg) no-repeat;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 18px;
    LINE-HEIGHT: 44px;
    PADDING-RIGHT: 18px
} .pubtools_bottom {
    OVERFLOW: hidden;
    HEIGHT: 6px;
    BACKGROUND: url(/images/supervise/bar_bottom.jpg) no-repeat;
    LINE-HEIGHT: 6px
} .pubtools_content {
    BORDER-TOP: #ccc 0px solid;
    BORDER-RIGHT: #ccc 1px solid;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #ccc 0px solid;
    BORDER-LEFT: #ccc 1px solid;
    WIDTH: 258px
} .pubtools_content UL LI {
    FONT-SIZE: 14px;
    BORDER-BOTTOM: #b7b7b7 1px dotted;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    MARGIN: 0px 8px;
    LINE-HEIGHT: 36px;
    PADDING-RIGHT: 10px
} .pubtools_content UL LI A {
    COLOR: #1e87b5
} .pubtools_content UL LI A:hover {
    COLOR: #f00
} .pubtools_content UL LI P {
    DISPLAY: none;
    LINE-HEIGHT: 26px
} .pubinfo {
    FLOAT: right;
    PADDING-BOTTOM: 30px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    WIDTH: 665px
} .pubnav {
    MARGIN: 10px 0px
} .pubnav UL {
} .pubnav UL LI {
    HEIGHT: 27px;
    BACKGROUND: url(/images/supervise/btn_title_enabled.gif) no-repeat;
    ZOOM: 1;
    TEXT-ALIGN: center;
    MARGIN: 0px 55px 0px 0px;
    DISPLAY: inline;
    LINE-HEIGHT: 27px;
    WIDTH: 114px
} .pubnav UL LI:unknown {
    MARGIN: 0px
} .pubnav UL LI A {
    COLOR: #fff
} .pubnav UL LI A:hover {
    COLOR: #fff
} .pubunit .info {
    BACKGROUND: #f5f5fe;
    PADDING-BOTTOM: 15px;
    PADDING-TOP: 15px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px
} .pubunit .title {
    FONT-SIZE: 20px;
    COLOR: #858585;
    MARGIN: 20px 0px
} .pubunit .green {
    FONT-SIZE: 18px;
    COLOR: #008000
} .pubunit .red {
    FONT-SIZE: 16px;
    COLOR: #f00
} .pubunit .info P {
    LINE-HEIGHT: 36px
} .pubunit .info P SPAN {
    FONT-SIZE: 14px;
    COLOR: #808080;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 40px;
    PADDING-RIGHT: 0px
} .pubinfo_top {
    FONT-SIZE: 16px;
    HEIGHT: 44px;
    BACKGROUND: url(/images/supervise/bar_top2.jpg) no-repeat;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 18px;
    LINE-HEIGHT: 44px;
    PADDING-RIGHT: 18px
} .pubinfo_bottom {
    OVERFLOW: hidden;
    HEIGHT: 6px;
    BACKGROUND: url(/images/supervise/bar_bottom2.jpg) no-repeat;
    LINE-HEIGHT: 6px
} .pubinfo_content {
    BORDER-TOP: #ccc 0px solid;
    HEIGHT: 100%;
    BORDER-RIGHT: #ccc 1px solid;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #ccc 0px solid;
    MIN-HEIGHT: 180px;
    BORDER-LEFT: #ccc 1px solid;
    WIDTH: 663px;
    _height: 180px
} .pubinfo_top .title {
    FLOAT: left
} .pubinfo_top .more {
    FONT-SIZE: 14px;
    FLOAT: right
} .pubinfo_tb_sort {
    LINE-HEIGHT: 30px;
    WIDTH: 98%
} .pubinfo_tb_sort TH {
    BORDER-TOP: #d1d1d1 1px solid;
    HEIGHT: 40px;
    BORDER-RIGHT: #d1d1d1 1px solid;
    BORDER-BOTTOM: #d1d1d1 1px solid;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center;
    BORDER-LEFT: #d1d1d1 1px solid
} .pubinfo_tb_sort TD {
    BORDER-TOP: #d1d1d1 1px solid;
    HEIGHT: 35px;
    BORDER-RIGHT: #d1d1d1 1px solid;
    BORDER-BOTTOM: #d1d1d1 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #d1d1d1 1px solid
}

UNKNOWN {
    BACKGROUND: #f0f0f0
} .pubinfo_tbhead {
    FONT-SIZE: 22px;
    COLOR: #cc0000;
    PADDING-BOTTOM: 10px;
    TEXT-ALIGN: center;
    PADDING-TOP: 20px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px
} .pubinfo_tbinfo {
    FONT-SIZE: 16px;
    COLOR: #616161;
    PADDING-BOTTOM: 10px;
    TEXT-ALIGN: center;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px
} .pubmeeting {
    PADDING-BOTTOM: 15px;
    PADDING-TOP: 15px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px
} .pubmeeting UL LI {
    FLOAT: left;
    LINE-HEIGHT: 30px
} .pubmeeting .meeting_title {
    HEIGHT: 30px;
    FLOAT: left;
    DISPLAY: block;
    WIDTH: 500px
} .pubmeeting .meeting_time {
    HEIGHT: 30px;
    FLOAT: right;
    DISPLAY: block;
    WIDTH: 100px
} .pubinfo_content .pages {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    PADDING-RIGHT: 0px
} .pubinfo_content .pages INPUT {
    WIDTH: 40px
} .pubmenu {
    PADDING-BOTTOM: 15px;
    PADDING-TOP: 15px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px
} .pubmenu_area {
    FONT-SIZE: 14px
} .pubmenu_area A {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px
} .pubmenu_title {
    HEIGHT: 33px;
    BACKGROUND: url(/images/supervise/line.jpg) repeat-x 0px -33px;
    MARGIN: 15px 0px
} .pubmenu_title SPAN {
    FONT-SIZE: 13px;
    HEIGHT: 31px;
    BACKGROUND: url(/images/supervise/line.jpg) no-repeat 0px 0px;
    FONT-WEIGHT: bold;
    COLOR: #ff6600;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 30px;
    DISPLAY: block;
    LINE-HEIGHT: 31px;
    PADDING-RIGHT: 0px;
    WIDTH: 120px
} .pubmenu_info UL LI {
    HEIGHT: 30px;
    FLOAT: left;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 30px;
    WIDTH: 33%
} .procedureNav {
    FLOAT: right
} .procedureNav UL {
} .procedureNav UL LI {
    HEIGHT: 27px;
    ZOOM: 1;
    TEXT-ALIGN: center;
    MARGIN: 0px 15px 0px 0px;
    DISPLAY: inline;
    LINE-HEIGHT: 27px;
    WIDTH: 114px
} .procedureNav UL LI.hot {
    BACKGROUND: url(/images/supervise/btn_title_enabled.gif) no-repeat
} .procedureNav UL LI:unknown {
    MARGIN: 0px
} .procedureNav UL LI A {
    COLOR: #000
} .procedureNav UL LI A:hover {
    COLOR: #000
} .procedureNav UL LI.hot A {
    COLOR: #fff
} .bigwSectype UL LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 38px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 9px 15px 0px 0px;
    LINE-HEIGHT: 38px;
    WIDTH: 120px
} .monitor_type_ul LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 38px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 9px 15px 0px 0px;
    LINE-HEIGHT: 38px;
    WIDTH: 120px
} .invest_type_ul LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 38px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 9px 15px 0px 0px;
    LINE-HEIGHT: 38px;
    WIDTH: 120px
} .event_type UL LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 38px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 9px 15px 0px 0px;
    LINE-HEIGHT: 38px;
    WIDTH: 120px
} .bigwSectype UL LI.hot {
    BORDER-TOP: #1e87b5 2px solid;
    BORDER-RIGHT: #ccc 1px solid;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #ccc 0px solid;
    BORDER-LEFT: #ccc 1px solid
} .monitor_type_ul LI.hot {
    BORDER-TOP: #1e87b5 2px solid;
    BORDER-RIGHT: #ccc 1px solid;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #ccc 0px solid;
    BORDER-LEFT: #ccc 1px solid
} .invest_type_ul LI.hot {
    BORDER-TOP: #1e87b5 2px solid;
    BORDER-RIGHT: #ccc 1px solid;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #ccc 0px solid;
    BORDER-LEFT: #ccc 1px solid
} .event_type UL LI.hot {
    BORDER-TOP: #1e87b5 2px solid;
    BORDER-RIGHT: #ccc 1px solid;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #ccc 0px solid;
    BORDER-LEFT: #ccc 1px solid
} .event_type UL LI {
    WIDTH: 150px
} .dotline {
    OVERFLOW: hidden;
    BORDER-TOP: #bcbcbc 1px dotted;
    HEIGHT: 1px;
    MARGIN: 5px 0px;
    LINE-HEIGHT: 1px
} .hidden {
    DISPLAY: none
} .h35 {
    HEIGHT: 35px;
    LINE-HEIGHT: 35px
} .h56 {
    LINE-HEIGHT: 56px
} .h28 {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 8px;
    PADDING-LEFT: 0px;
    LINE-HEIGHT: 20px;
    PADDING-RIGHT: 0px
} .f16 {
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    COLOR: #7acbf4
} .mb10 {
    OVERFLOW: hidden;
    MARGIN: 0px 0px 10px
} .mt20 {
    MARGIN: 20px 0px 0px
} .m20 {
    MARGIN: 20px 0px
} .pd20 {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px
} .pb0 {
    PADDING-BOTTOM: 0px
} .color1 {
    BACKGROUND: #e1e1e1
} .color2 {
    BACKGROUND: #c7deef
} .color3 {
    BACKGROUND: #a7ff69
} .color4 {
    BACKGROUND: #fff183
} .color5 {
    BACKGROUND: #e0ff83
} .color6 {
    BACKGROUND: #ff9900
} .r {
    FLOAT: right
} .tb_login_content {
    HEIGHT: 80px;
    BACKGROUND: #cbeafa;
    POSITION: absolute;
    FILTER: Alpha( opacity = 85);

Z-INDEX:
    10;

DISPLAY:none;

opacity:
    0.85
} .tb_login_content UL {
    PADDING-TOP: 8px;
    WIDTH: 100%
} .tb_login_content UL LI A {
    FONT-SIZE: 15px;
    FLOAT: right;
    FONT-WEIGHT: bold;
    PADDING-RIGHT: 20px
} .search INPUT {
    PADDING-TOP: 2px;
    LINE-HEIGHT: 20px;
    MARGIN-RIGHT: 10px
} .search_table {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px
} .search_table TABLE {
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 100%
} .search_table TR TD {
    HEIGHT: 39px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    LINE-HEIGHT: 39px;
    PADDING-RIGHT: 10px
}

UNKNOWN {
    BACKGROUND: #eef9ff
} .search_table .olhandle {
    FONT-SIZE: 12px;
    HEIGHT: 22px;
    BACKGROUND: url(/images/supervise/bid.png) no-repeat;
    COLOR: #fff;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 22px;
    WIDTH: 73px
} .search_table .olhandle:hover {
    COLOR: #16d3e9;
    TEXT-DECORATION: none
} .event_search_btn {
    HEIGHT: 30px;
    BACKGROUND: url(/images/supervise/tools.jpg) no-repeat;
    COLOR: #fff;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 30px;
    WIDTH: 60px
} .td_l {
    TEXT-ALIGN: right;
    WIDTH: 30%
} .invest_logo {
    FONT-SIZE: 21px;
    FLOAT: left;
    MARGIN: 7px 0px 0px 40px;
    DISPLAY: inline;
    LINE-HEIGHT: 35px
} .invest_logo SPAN {
    COLOR: #ff8000
} .invest_type {
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 40px
} .invest_type_ul LI {
    CURSOR: pointer;
    FONT-SIZE: 15px;
    HEIGHT: 35px;
    FLOAT: left;
    COLOR: #000;
    TEXT-ALIGN: center;
    MARGIN: 7px 15px 0px 0px;
    LINE-HEIGHT: 35px;
    WIDTH: 140px
} .invest_type_ul LI.hot {
    BACKGROUND: url(/images/supervise/bigwtab2.jpg) no-repeat;
    COLOR: #00709d
} .invest_conent {
    HEIGHT: 100%;
    BACKGROUND: url(/images/supervise/bigwbg.jpg) repeat-y;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 5px;
    MIN-HEIGHT: 180px;
    PADDING-RIGHT: 5px;
    _height: 180px
} .invest_triggle {
    HEIGHT: 100px;
    BACKGROUND: url(/images/supervise/line_invest_split.jpg) no-repeat center bottom;
    POSITION: relative;
    ZOOM: 1
} .invest_triggle_ul LI {
    CURSOR: pointer;
    HEIGHT: 57px;
    BACKGROUND: url(/images/supervise/btn_invest_disabled.gif) no-repeat;
    POSITION: absolute;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 57px;
    WIDTH: 180px
} .invest_triggle_ul LI.hot {
    BACKGROUND: url(/images/supervise/btn_invest_enabled.gif) no-repeat;
    COLOR: #fff
} .invest_tg_process1 {
    TEXT-ALIGN: center;
    LEFT: 55px
} .invest_tg_process2 {
    TEXT-ALIGN: center;
    LEFT: 285px
} .invest_tg_process3 {
    TEXT-ALIGN: center;
    LEFT: 515px
} .invest_tg_process4 {
    TEXT-ALIGN: center;
    LEFT: 745px
} .invest_triggle_arrow {
    HEIGHT: 10px;
    BACKGROUND: url(/images/supervise/tab_invest_arrow.png) no-repeat;
    POSITION: absolute;
    LEFT: 133px;
    TOP: 67px;
    WIDTH: 23px
} .invest_tg_process5 {
    TEXT-ALIGN: center;
    LEFT: 20px
} .invest_tg_process6 {
    TEXT-ALIGN: center;
    LEFT: 210px
} .invest_tg_process7 {
    TEXT-ALIGN: center;
    LEFT: 400px
} .invest_tg_process8 {
    TEXT-ALIGN: center;
    LEFT: 590px
} .invest_tg_process9 {
    TEXT-ALIGN: center;
    LEFT: 780px
} .invest_process {
    TEXT-ALIGN: center
} .copyright SPAN {
    PADDING-RIGHT: 30px
} .mapContent {
    HEIGHT: 600px;
    BACKGROUND: url(/images/supervise/mapcontent.jpg) no-repeat;
    POSITION: relative;
    PADDING-BOTTOM: 0px;
    TEXT-ALIGN: center;
    PADDING-TOP: 42px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px
} .dotline {
    OVERFLOW: hidden;
    BORDER-TOP: #bcbcbc 1px dotted;
    HEIGHT: 1px;
    MARGIN: 5px 0px;
    LINE-HEIGHT: 1px
} .hidden {
    DISPLAY: none
} .h35 {
    HEIGHT: 35px;
    LINE-HEIGHT: 35px
} .h56 {
    LINE-HEIGHT: 56px
} .h28 {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 8px;
    PADDING-LEFT: 0px;
    LINE-HEIGHT: 20px;
    PADDING-RIGHT: 0px
} .f16 {
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    COLOR: #7acbf4
} .f13 {
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    COLOR: #7acbf4
} .mb10 {
    OVERFLOW: hidden;
    MARGIN: 0px 0px 10px
} .mt20 {
    MARGIN: 20px 0px 0px
} .m20 {
    MARGIN: 20px 0px
} .pd20 {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px
} .pb0 {
    PADDING-BOTTOM: 0px
} .color1 {
    BACKGROUND: #e1e1e1
} .color2 {
    BACKGROUND: #c7deef
} .color3 {
    BACKGROUND: #a7ff69
} .color4 {
    BACKGROUND: #fff183
} .color5 {
    BACKGROUND: #e0ff83
} .search_table {
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px
} .search_table TABLE {
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 100%
} .search_table TR TD {
    HEIGHT: 39px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    LINE-HEIGHT: 39px;
    PADDING-RIGHT: 10px
}

UNKNOWN {
    BACKGROUND: #eef9ff
} .search_table .olhandle {
    FONT-SIZE: 12px;
    HEIGHT: 22px;
    BACKGROUND: url(/images/supervise/bid.png) no-repeat;
    COLOR: #fff;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 22px;
    WIDTH: 73px
} .search_table .olhandle:hover {
    COLOR: #16d3e9;
    TEXT-DECORATION: none
} .event_search_btn {
    HEIGHT: 30px;
    BACKGROUND: url(/images/supervise/tools.jpg) no-repeat;
    COLOR: #fff;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 30px;
    WIDTH: 60px
} .r {
    FLOAT: right
} .w90 {
    OVERFLOW: hidden;
    HEIGHT: 31px;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 31px;
    WIDTH: 90px
} .w120 {
    OVERFLOW: hidden;
    HEIGHT: 31px;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 31px;
    WIDTH: 120px
} .w50 {
    OVERFLOW: hidden;
    HEIGHT: 31px;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 31px;
    WIDTH: 50px
} .w170 {
    OVERFLOW: hidden;
    HEIGHT: 31px;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 31px;
    WIDTH: 170px
} .w165 {
    OVERFLOW: hidden;
    HEIGHT: 31px;
    TEXT-ALIGN: center;
    DISPLAY: block;
    LINE-HEIGHT: 31px;
    WIDTH: 165px
} .tb_login_content {
    HEIGHT: 80px;
    POSITION: absolute;
    FILTER: alpha( opacity = 60);

Z-INDEX:
    10;

DISPLAY:none;

BACKGROUND-COLOR:
    #e8f6fe
}
