@CHARSET "UTF-8";
body,td,th {
	font-family: 宋体;
	font-size: 14px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #D1F3FF;
}
a {
	color: #192D60;
	text-decoration: none;
}
a:hover {
	color: #0389E2;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
li {
	list-style-type: none;
}

.inp{
	border: 1px solid;
}
.searchBtn{
	background-image: url(../images/search.gif);
	width:49px;
	height:21px;
	border:0px;
	cursor: pointer;
}
