* {
	margin: 0;
	padding: 0
}
body {
	background-color: #F2FCF3;
}
.header {
	background: url("../images/tree011.jpg") repeat-x;
	height: 29px;
	width: 165px;
	font-family: "ו";
	font-weight: bold;
	color: #FFFFFF;
	line-height: 28px;
	text-indent: 20px;
	letter-spacing: 1px;
	margin-bottom: 3px;
}
#accordion {
	width: 156px;
	margin: 0;
	border-top: none
}
.ddboder{
	
	background:#9FDC96;
	margin-top:-8px;
}
.accordion {
	width: 156px;
	font: Verdana, Arial;
}

.accordion dt {
	padding-top: 6px;
	padding-left: 5px;
	width: 156px;
	height: 29px;
	font-weight: bold;
	cursor: pointer;
	background-image: url(../images/tree02.jpg);
	background-repeat: no-repeat;
	color: #000;
}

.accordion dt:hover {
	
}

.accordion .open {
	background-image: url(../images/tree022.jpg)
}

.accordion dd {
	border:1px;
	overflow: hidden;
	background: #fff;
	width: 156px;
}

.accordion span {
	display: block;
	width: 166px;
	border-top: none;
}

.accordion ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 152px;
	margin-left:2px;
	margin-right:2px;
}
   
.accordion li {
	background-color: #9FDC96;
	background-image: url("../images/icon_tree.jpg");
	background-position: 20px 10px;
	background-repeat: no-repeat;
	height: 26px;
	letter-spacing: 1px;
	line-height: 22px;
	margin-bottom: 3px;
	text-indent: 35px;
	width: 152px;

}

.accordion li:hover {
	background-color: #F2FCF3;
}
.accordion li.active {
	background-color: #F2FCF3;
}

#li_help{
	padding:0px;
	margin:0px;
	width: 156px;
	height: 29px;
	font-weight: bold;
	cursor: pointer;
	background-image: url(../images/tree02.jpg);
	background-repeat: no-repeat;
	color: #000;
}